body {     
    color: #333;
    font-family: Arial;
    background-repeat: repeat-x;
    background-image: url("../img/bg-maison.png");
    background-color: #aaa;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

.clear {
    clear :both;
}    

.wrapper {
    width: 100%;
    display:block;
    position: static;
}

#header {
    display :block;
    width : 980px;
    margin: 0 auto;
    alignment-adjust: middle;
}

#header img.logo {
    float:left;
}

#header .titre {
    float:left;
}

#header h1 {
    color :#00f;
    margin :5px;
    padding:0;
}

#header h2 {
    color : #0f0;
    margin :5px;
    padding:0;
}

#menu {
    display :block;
    width : 980px;
    margin: 0 auto;
    alignment-adjust: middle;    
}

#menu ul {
    display:block;
    width:100%;
    list-style-type: non;    
}

#menu ul li {
    display:block;
    width:25%;
    float: left;
    background-color: #333;
}

#menu ul li :hover {
    background-color: #a60cd2;
}

#menu ul li a {
    background-color: salmon;
}
#footer {
    display :block;
    width : 980px;
    margin: 0 auto;
    alignment-adjust: middle;    
}

#footer ul {
    display:block;
    width:100%;
    list-style-type: non;    
}

#footer ul li {
    display:block;
    width:25%;
    float: left;
}

#footer ul li :hover {
    background-color: transparent;
}

#footer ul li a {
    color:#000;
}

#content {
    width: 700px;
    margin:0 auto;
}

form label{
    display: inline-block;
    width:150px;
    text-align: right;
}