@keyframes monanim {
0%   {background: red;}
25%  {background: yellow; }
50%  {background: blue; }
75%  {background: green;}
100% {background: red; }   
}

@-webkit-keyframes monanim /* Safari and Chrome */
{
0%   {background: red; }
25%  {background: yellow; }
50%  {background: blue; }
75%  {background: green;}
100% {background: red;}
}

@keyframes monanim2 {
0%   {background: blue; left:0px; top:0px;}
25%  {background: red; left:200px; top:0px;}
50%  {background: green; left:200px; top:200px;}
75%  {background: red; left:0px; top:200px;}
100% {background: yellow; left:0px; top:0px;}  
}

@-webkit-keyframes monanim2 /* Safari and Chrome */
{
0%   {background: blue; left:0px; top:0px;}
25%  {background: red; left:200px; top:0px;}
50%  {background: green; left:200px; top:200px;}
75%  {background: red; left:0px; top:200px;}
100% {background: yellow; left:0px; top:0px;}
}

body {     
    color: #333;
    font-family: Arial;
    background-repeat: repeat-x;
    background-image: url("../img/bg-maison.png");
    background-color: #aaa;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

.clear {
    clear :both;
}    

.wrapper {
    width: 100%;
    display:block;
    position: static;
}

#header {
    display :block;
    width : 980px;
    margin: 0 auto;
    alignment-adjust: middle;
}

#header img.logo {
    float:left;
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);    
}

#header .titre {
    float:left;
}

#header h1 {
    color :#00f;
    margin :5px;
    padding:0;
    animation-name:moanim;
    animation-duration:4s;
    -webkit-animation-name: monanim;
    -webkit-animation-duration: 4s
}

#header h2 {
    color : #0f0;
    margin :5px;
    padding:0;
    animation-name:moanim2;
    animation-duration:4s;
    -webkit-animation-name: monanim2;
    -webkit-animation-duration: 4s    
}

#menu {
    display :block;
    width : 980px;
    margin: 0 auto;
    alignment-adjust: middle;    
}

#menu ul {
    display:block;
    width:100%;
    list-style-type: non;    
}

#menu ul li {
    display:block;
    width:25%;
    float: left;
    text-shadow: 2px 2px 2px #fff;
}

#menu ul li:hover a {
    background-color: #a60cd2;
    transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    text-shadow: 5px 5px 5px #fff;
}

#menu ul li a {
    background-color: salmon;
    display:block;
}

footer {
    display :block;
    width : 980px;
    margin: 0 auto;
    alignment-adjust: middle;    
}

footer ul {
    display:block;
    width:100%;
    list-style-type: non;    
}

footer ul li {
    display:block;
    width:25%;
    float: left;
}

footer ul li :hover {
    background-color: transparent;
}

footer ul li a {
    color:#000;
}

article {
    width: 700px;
    margin:0 auto;
}

form label{
    display: inline-block;
    width:150px;
    text-align: right;
}